<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/style1.css">
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>p1</title>
</head>
<body>
  <div class="p-1">
    <div class="_1-20241028-055441-0000-1">
      <img class="clip-path-group" src="static/images/P1images/clip-path-group0.svg" />
      <img class="vector" src="static/images/P1images/vector0.svg" />
      <img class="vector2" src="static/images/P1images/vector1.svg" />
      <a href="/p2">
        <img class="clip-path-group2" src="static/images/P1images/clip-path-group1.svg" alt="Description of the image" />
      </a>    
      <img class="clip-path-group3" src="static/images/P1images/clip-path-group2.svg" />
      <img class="clip-path-group4" src="static/images/P1images/clip-path-group3.svg" />
      <img class="clip-path-group5" src="static/images/P1images/clip-path-group4.svg" />
      <img class="clip-path-group6" src="static/images/P1images/clip-path-group5.svg" />
      <img class="clip-path-group7" src="static/images/P1images/clip-path-group6.svg" />
      <img class="clip-path-group8" src="static/images/P1images/clip-path-group7.svg" />
      <div class="tv-container">
        <video class="clip-path-group9" autoplay loop muted>
             <source src="static/Video/P1.mp4" type="video/mp4">
             Your browser does not support the video tag.
          </video>
          <img class="clip-path-group10" src="static/images/P1images/clip-path-group9.svg"  alt="TV" />
       </div>
      <img class="group" src="static/images/P1images/group0.svg" />
      <img class="group2" src="static/images/P1images/group1.svg" />
      <img class="group3" src="static/images/P1images/group2.svg" />
      <img class="group4" src="static/images/P1images/group3.svg" />
      <img class="group5" src="static/images/P1images/group4.svg" />
      <img class="group6" src="static/images/P1images/group5.svg" />
      <img class="group7" src="static/images/P1images/group6.svg" />
      <img class="group8" src="static/images/P1images/group7.svg" />
      <img class="group9" src="static/images/P1images/group8.svg" />
      <img class="group10" src="static/images/P1images/group9.svg" />
      <img class="group11" src="static/images/P1images/group10.svg" />
      <img class="group12" src="static/images/P1images/group11.svg" />
      <img class="group13" src="static/images/P1images/group12.svg" />
      <img class="group14" src="static/images/P1images/group13.svg" />
      <img class="group15" src="static/images/P1images/group14.svg" />
      <img class="group16" src="static/images/P1images/group15.svg" />
      <img class="group17" src="static/images/P1images/group16.svg" />
      <img class="group18" src="static/images/P1images/group17.svg" />
      <img class="group19" src="static/images/P1images/group18.svg" />
      <img class="group20" src="static/images/P1images/group19.svg" />
      <img class="group21" src="static/images/P1images/group20.svg" />
      <img class="group22" src="static/images/P1images/group21.svg" />
      <img class="group23" src="static/images/P1images/group22.svg" />
      <img class="group24" src="static/images/P1images/group23.svg" />
      <img class="group25" src="static/images/P1images/group24.svg" />
      <img class="group26" src="static/images/P1images/group25.svg" />
      <img class="group27" src="static/images/P1images/group26.svg" />
      <img class="group28" src="static/images/P1images/group27.svg" />
      <img class="group29" src="static/images/P1images/group28.svg" />
      <img class="group30" src="static/images/P1images/group29.svg" />
      <img class="group31" src="static/images/P1images/group30.svg" />
      <img class="group32" src="static/images/P1images/group31.svg" />
      <img class="group33" src="static/images/P1images/group32.svg" />
      <img class="group34" src="static/images/P1images/group33.svg" />
      <img class="group35" src="static/images/P1images/group34.svg" />
      <img class="group36" src="static/images/P1images/group35.svg" />
      <img class="group37" src="static/images/P1images/group36.svg" />
      <img class="group38" src="static/images/P1images/group37.svg" />
      <img class="group39" src="static/images/P1images/group38.svg" />
      <img class="group40" src="static/images/P1images/group39.svg" />
      <img class="group41" src="static/images/P1images/group40.svg" />
      <img class="group42" src="static/images/P1images/group41.svg" />
      <img class="group43" src="static/images/P1images/group42.svg" />
      <img class="group44" src="static/images/P1images/group43.svg" />
      <img class="group45" src="static/images/P1images/group44.svg" />
      <img class="group46" src="static/images/P1images/group45.svg" />
      <img class="group47" src="static/images/P1images/group46.svg" />
      <img class="group48" src="static/images/P1images/group47.svg" />
      <img class="group49" src="static/images/P1images/group48.svg" />
      <img class="group50" src="static/images/P1images/group49.svg" />
      <img class="group51" src="static/images/P1images/group50.svg" />
      <img class="group52" src="static/images/P1images/group51.svg" />
      <img class="group53" src="static/images/P1images/group52.svg" />
      <img class="group54" src="static/images/P1images/group53.svg" />
      <img class="group55" src="static/images/P1images/group54.svg" />
      <img class="group56" src="static/images/P1images/group55.svg" />
      <img class="group57" src="static/images/P1images/group56.svg" />
      <img class="group58" src="static/images/P1images/group57.svg" />
      <img class="group59" src="static/images/P1images/group58.svg" />
      <img class="group60" src="static/images/P1images/group59.svg" />
      <img class="group61" src="static/images/P1images/group60.svg" />
      <img class="group62" src="static/images/P1images/group61.svg" />
      <img class="group63" src="static/images/P1images/group62.svg" />
      <img class="group64" src="static/images/P1images/group63.svg" />
      <img class="group65" src="static/images/P1images/group64.svg" />
      <img class="group66" src="static/images/P1images/group65.svg" />
      <img class="group67" src="static/images/P1images/group66.svg" />
      <img class="group68" src="static/images/P1images/group67.svg" />
      <img class="group69" src="static/images/P1images/group68.svg" />
      <img class="group70" src="static/images/P1images/group69.svg" />
      <img class="group71" src="static/images/P1images/group70.svg" />
      <img class="group72" src="static/images/P1images/group71.svg" />
      <img class="group73" src="static/images/P1images/group72.svg" />
      <img class="group74" src="static/images/P1images/group73.svg" />
      <img class="group75" src="static/images/P1images/group74.svg" />
      <img class="group76" src="static/images/P1images/group75.svg" />
      <img class="clip-path-group11" src="static/images/P1images/clip-path-group10.svg" />
      <img class="group77" src="static/images/P1images/group76.svg" />
      <img class="group78" src="static/images/P1images/group77.svg" />
      <img class="group79" src="static/images/P1images/group78.svg" />
      <img class="group80" src="static/images/P1images/group79.svg" />
      <img class="group81" src="static/images/P1images/group80.svg"/>
   </div>
  </div>
</body>
</html>