<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/style2.css">
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="p-2">
    <div class="_2-20241028-055441-0001-1">
      <img class="clip-path-group" src="static/images/‏‏P2images/clip-path-group0.svg" />
      <img class="vector" src="static/images/‏‏P2images/vector0.svg" />
      <img class="vector2" src="static/images/‏‏P2images/vector1.svg" />
      <img class="clip-path-group2" src="static/images/‏‏P2images/clip-path-group1.svg" />
      <img class="clip-path-group3" src="static/images/‏‏P2images/clip-path-group2.svg" />
      <img class="clip-path-group4" src="static/images/‏‏P2images/clip-path-group3.svg" />
      <img class="clip-path-group5" src="static/images/‏‏P2images/clip-path-group4.svg" />
      <img class="clip-path-group6" src="static/images/‏‏P2images/clip-path-group5.svg" />
      <img class="clip-path-group7" src="static/images/‏‏P2images/clip-path-group6.svg" />
      <div class="tv-container">
       <video class="clip-path-group8" autoplay loop muted>
            <source src="static/Video/P222.mp4" type="video/mp4">
            Your browser does not support the video tag.
         </video>
         <img class="clip-path-group9" src="static/images/‏‏P2images/clip-path-group8.svg" alt="TV" />
      </div>
      <img class="group" src="static/images/‏‏P2images/group0.svg" />
      <img class="group2" src="static/images/‏‏P2images/group1.svg" />
      <img class="group3" src="static/images/‏‏P2images/group2.svg" />
      <img class="group4" src="static/images/‏‏P2images/group3.svg" />
      <img class="group5" src="static/images/‏‏P2images/group4.svg" />
      <img class="group6" src="static/images/‏‏P2images/group5.svg" />
      <img class="group7" src="static/images/‏‏P2images/group6.svg" />
      <img class="group8" src="static/images/‏‏P2images/group7.svg" />
      <img class="group9" src="static/images/‏‏P2images/group8.svg" />
      <img class="group10" src="static/images/‏‏P2images/group9.svg" />
      <img class="group11" src="static/images/‏‏P2images/group10.svg" />
      <img class="group12" src="static/images/‏‏P2images/group11.svg" />
      <img class="group13" src="static/images/‏‏P2images/group12.svg" />
      <img class="group14" src="static/images/‏‏P2images/group13.svg" />
      <img class="group15" src="static/images/‏‏P2images/group14.svg" />
      <img class="group16" src="static/images/‏‏P2images/group15.svg" />
      <img class="group17" src="static/images/‏‏P2images/group16.svg" />
      <img class="group18" src="static/images/‏‏P2images/group17.svg" />
      <img class="group19" src="static/images/‏‏P2images/group18.svg" />
      <img class="group20" src="static/images/‏‏P2images/group19.svg" />
      <img class="group21" src="static/images/‏‏P2images/group20.svg" />
      <img class="group22" src="static/images/‏‏P2images/group21.svg" />
      <img class="group23" src="static/images/‏‏P2images/group22.svg" />
      <img class="group24" src="static/images/‏‏P2images/group23.svg" />
      <img class="group25" src="static/images/‏‏P2images/group24.svg" />
      <img class="group26" src="static/images/‏‏P2images/group25.svg" />
      <img class="group27" src="static/images/‏‏P2images/group26.svg" />
      <img class="group28" src="static/images/‏‏P2images/group27.svg" />
      <img class="group29" src="static/images/‏‏P2images/group28.svg" />
      <img class="group30" src="static/images/‏‏P2images/group29.svg" />
      <img class="group31" src="static/images/‏‏P2images/group30.svg" />
      <img class="group32" src="static/images/‏‏P2images/group31.svg" />
      <img class="group33" src="static/images/‏‏P2images/group32.svg" />
      <img class="group34" src="static/images/‏‏P2images/group33.svg" />
      <img class="group35" src="static/images/‏‏P2images/group34.svg" />
      <img class="group36" src="static/images/‏‏P2images/group35.svg" />
      <img class="group37" src="static/images/‏‏P2images/group36.svg" />
      <img class="group38" src="static/images/‏‏P2images/group37.svg" />
      <img class="group39" src="static/images/‏‏P2images/group38.svg" />
      <img class="group40" src="static/images/‏‏P2images/group39.svg" />
      <img class="group41" src="static/images/‏‏P2images/group40.svg" />
      <img class="group42" src="static/images/‏‏P2images/group41.svg" />
      <img class="group43" src="static/images/‏‏P2images/group42.svg" />
      <img class="group44" src="static/images/‏‏P2images/group43.svg" />
      <img class="group45" src="static/images/‏‏P2images/group44.svg" />
      <img class="group46" src="static/images/‏‏P2images/group45.svg" />
      <img class="group47" src="static/images/‏‏P2images/group46.svg" />
      <img class="group48" src="static/images/‏‏P2images/group47.svg" />
      <img class="group49" src="static/images/‏‏P2images/group48.svg" />
      <img class="group50" src="static/images/‏‏P2images/group49.svg" />
      <img class="group51" src="static/images/‏‏P2images/group50.svg" />
      <img class="group52" src="static/images/‏‏P2images/group51.svg" />
      <img class="group53" src="static/images/‏‏P2images/group52.svg" />
      <img class="group54" src="static/images/‏‏P2images/group53.svg" />
      <img class="group55" src="static/images/‏‏P2images/group54.svg" />
      <img class="group56" src="static/images/‏‏P2images/group55.svg" />
      <img class="group57" src="static/images/‏‏P2images/group56.svg" />
      <img class="group58" src="static/images/‏‏P2images/group57.svg" />
      <img class="group59" src="static/images/‏‏P2images/group58.svg" />
      <img class="group60" src="static/images/‏‏P2images/group59.svg" />
      <img class="group61" src="static/images/‏‏P2images/group60.svg" />
      <img class="group62" src="static/images/‏‏P2images/group61.svg" />
      <img class="group63" src="static/images/‏‏P2images/group62.svg" />
      <img class="group64" src="static/images/‏‏P2images/group63.svg" />
      <img class="group65" src="static/images/‏‏P2images/group64.svg" />
      <img class="group66" src="static/images/‏‏P2images/group65.svg" />
      <img class="group67" src="static/images/‏‏P2images/group66.svg" />
      <img class="group68" src="static/images/‏‏P2images/group67.svg" />
      <img class="group69" src="static/images/‏‏P2images/group68.svg" />
      <img class="group70" src="static/images/‏‏P2images/group69.svg" />
      <img class="group71" src="static/images/‏‏P2images/group70.svg" />
      <img class="group72" src="static/images/‏‏P2images/group71.svg" />
      <img class="group73" src="static/images/‏‏P2images/group72.svg" />
      <a href="/p4">
        <img class="clip-path-group10" src="static/images/‏‏P2images/clip-path-group9.svg" alt="Button 1" />
      </a>
      <img class="group74" src="static/images/‏‏P2images/group73.svg" />
      <img class="group75" src="static/images/‏‏P2images/group74.svg" />
      <img class="group76" src="static/images/‏‏P2images/group75.svg" />
      <img class="group77" src="static/images/‏‏P2images/group76.svg" />
      <img class="group78" src="static/images/‏‏P2images/group77.svg" />
      <img class="group79" src="static/images/‏‏P2images/group78.svg" />
      <img class="group80" src="static/images/‏‏P2images/group79.svg" />
      <img class="group81" src="static/images/‏‏P2images/group80.svg" />
      <img class="group82" src="static/images/‏‏P2images/group81.svg" />
      <img class="group83" src="static/images/‏‏P2images/group82.svg" />
      <img class="group84" src="static/images/‏‏P2images/group83.svg" />
      <img class="group85" src="static/images/‏‏P2images/group84.svg" />
      <img class="group86" src="static/images/‏‏P2images/group85.svg" />
      <img class="group87" src="static/images/‏‏P2images/group86.svg" />
      <img class="group88" src="static/images/‏‏P2images/group87.svg" />
      <img class="group89" src="static/images/‏‏P2images/group88.svg" />
      <img class="group90" src="static/images/‏‏P2images/group89.svg" />
      <img class="group91" src="static/images/‏‏P2images/group90.svg" />
      <a href="/p5">
        <img class="clip-path-group11" src="static/images/‏‏P2images/clip-path-group10.svg" alt="Button 2" />
      </a>
      <img class="group92" src="static/images/‏‏P2images/group91.svg" />
      <img class="group93" src="static/images/‏‏P2images/group92.svg" />
      <img class="group94" src="static/images/‏‏P2images/group93.svg" />
      <img class="group95" src="static/images/‏‏P2images/group94.svg" />
      <img class="group96" src="static/images/‏‏P2images/group95.svg" />
      <img class="group97" src="static/images/‏‏P2images/group96.svg" />
      <img class="group98" src="static/images/‏‏P2images/group97.svg" />
      <img class="group99" src="static/images/‏‏P2images/group98.svg" />
      <img class="group100" src="static/images/‏‏P2images/group99.svg" />
      <img class="group101" src="static/images/‏‏P2images/group100.svg" />
      <img class="group102" src="static/images/‏‏P2images/group101.svg" />
      <img class="group103" src="static/images/‏‏P2images/group102.svg" />
      <img class="group104" src="static/images/‏‏P2images/group103.svg" />
      <img class="group105" src="static/images/‏‏P2images/group104.svg" />
      <a href="/p3">
        <img class="clip-path-group12" src="static/images/‏‏P2images/clip-path-group11.svg" alt="Button 3" />
      </a>
      <img class="group106" src="static/images/‏‏P2images/group105.svg" />
      <img class="group107" src="static/images/‏‏P2images/group106.svg" />
      <img class="group108" src="static/images/‏‏P2images/group107.svg" />
      <img class="group109" src="static/images/‏‏P2images/group108.svg" />
      <img class="group110" src="static/images/‏‏P2images/group109.svg" />
      <img class="group111" src="static/images/‏‏P2images/group110.svg" />
      <img class="group112" src="static/images/‏‏P2images/group111.svg" />
      <img class="group113" src="static/images/‏‏P2images/group112.svg" />
      <img class="group114" src="static/images/‏‏P2images/group113.svg" />
      <img class="group115" src="static/images/‏‏P2images/group114.svg" />
      <img class="group116" src="static/images/‏‏P2images/group115.svg" />
      <img class="group117" src="static/images/‏‏P2images/group116.svg" />
      <img class="group118" src="static/images/‏‏P2images/group117.svg" />
      <img class="group119" src="static/images/‏‏P2images/group118.svg" />
      <img class="clip-path-group13" src="static/images/‏‏P2images/clip-path-group12.svg" />
      <img class="group120" src="static/images/‏‏P2images/group119.svg" />
      <img class="group121" src="static/images/‏‏P2images/group120.svg" />
      <img class="group122" src="static/images/‏‏P2images/group121.svg" />
      <img class="group123" src="static/images/‏‏P2images/group122.svg" />
      <img class="group124" src="static/images/‏‏P2images/group123.svg" />
      <div class="xd-components">
        <a href="/p1">
         <img class="component-5" src="static/images/‏‏P2images/component-50.svg" alt="Button 4"/>
        </a>
      </div>
    </div>
  </div>
  
</body>
</html>